{% extends "search/base.html" %}

{% load static %}
{% load url_replace %}
{% load url_get %}
{% load widget_tweaks %}


{% block title %}Dashboard | {{ request.user }}{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/bootstrap4/bootstrap.min.css' %}">
    <link href="{% static 'search/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/single_listing_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gijgo/js/gijgo.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'adminpanel/sidebar.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% endblock css %}

{% block content %}

    <div class="offers">

        <div class="hero-image"
             style="height:24.5%;background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static 'search/images/single_background.jpg' %})">
        </div>

        <!-- Sidebar -->
        <div class="">
            <div class="row">
                <div class="col-lg-2" style="display: flex">
                    <nav id="sidebar">
                        <div class="sidebar-header">
                            <h3>Options</h3>
                        </div>

                        <ul class="list-unstyled components">
                            <p>Statistics</p>
                            <li class="">
                                <a href="{% url 'SiteAdminDash' %}">Dashboard</a>
                            </li>
                            <li class="">
                                <a href="{% url 'HotelList' %}">View Hotels</a>
                            </li>
                            <li class="">
                                <a href="{% url 'AirlinesList' %}">View Airlines</a>
                            </li>
                            <li class="">
                                <a href="{% url 'HotelPaymentLog' %}">View Payment Log for Hotel Booking</a>
                            </li>
                            <li class="">
                                <a href="{% url 'AirlinesPaymentLog' %}">View Payment Log for Flight Booking</a>
                            </li>
                            <li class="">
                                <a href="{% url 'ApproveHotelBooking' %}">Approve Hotel Booking</a>
                            </li>

                            <li class="">
                                <a href="{% url 'ApproveFlightBooking' %}">Approve Flight Booking</a>
                            </li>
                            <li class="active">
                                <a href="{% url 'Statistics' %}">View Stats</a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-9" style="width: 60%;">
                    <body>
                    <style>
                        .container {
                            width: 50%;
                            height: 50%;
                        }
                    </style>
                    <body>

                    <button id="renderBtn" , style="width: 5cm; height: 2cm">
                        Render
                    </button>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                            <canvas id="myChart"></canvas>
                                </div>
                            <!--<div class="col-lg-6">
                                <canvas id="myChart2"></canvas>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                            <canvas id="myChart2"></canvas>
                                </div>

                        </div>
                    </div>

                    </body>

                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <!-- <script src="static/siteadmin/js/linechart.js"></script>  -->
                    </body>
                    <!--    <div class="mySlides">
                    <div class="numbertext">1/ 4</div>

                        <img src="{% static 'siteadmin/barPlotFlightBooking.png' %}"
                             alt="No of flights booked in a day" width="80%" height="500px" style="width: 100%;margin-left:45px;"
                        class="cursor">

                    </div>
                    <div class="mySlides">
                    <div class="numbertext">1/ 4</div>

                        <img src="{% static 'siteadmin/barPlotFlightRevenue.png' %}"
                             alt="Revenue from flight per day" width="80%" height="500px" style="width: 100%;margin-left:45px;">

                    </div>
                    <div class="mySlides">
                    <div class="numbertext">1/ 4</div>

                        <img src="{% static 'siteadmin/barPlotHotelBooking.png' %}"
                             alt="No of rooms booked per day" width="80%" height="500px" style="width: 100%;margin-left:45px;">

                    </div>
                     <div class="mySlides">
                    <div class="numbertext">1/ 4</div>

                        <img src="{% static 'siteadmin/barPlotHotelRevenue.png' %}"
                             alt="Revenue from hotels per day" width="80%" height="500px" style="width: 100%;margin-left:45px;">

                    </div>  -->

                    <!-- Next and previous buttons -->
                    <!-- <a class="prev" style="color: #fff;" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" style="color: #fff;" onclick="plusSlides(1)">&#10095;</a>


                    <div class="caption-container">
                        <p id="caption"></p>
                    </div> -->
                </div>
            </div>
        </div>


    </div>

{% endblock content %}


{% block jscript %}
    <script>

        function renderChart(data, labels) {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Hotel Booking per day',
                        data: data,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)'
                    }]
                },
            });
        }
        function renderChart2(data, labels) {
            var ctx = document.getElementById("myChart2").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Flight Booking per day',
                        data: data,
                        borderColor: 'rgba(192, 192, 75, 1)',
                        backgroundColor: 'rgba(192, 192, 75, 0.2)'
                    }]

                },
            });
        }

        $("#renderBtn").click(
            function () {
                var row;
                var yLabel = [];
                var xLabel = [];
                {% for row in data %}
                    {
                        yLabel.push({{ row.0 }});
                        xLabel.push('{{ row.2 }}');

                    }
                {% endfor %}

                var yLabel2 = [];
                var xLabel2 = [];
                {% for row in data2 %}
                    {
                        yLabel2.push({{ row.0 }});
                        xLabel2.push('{{ row.2 }}');

                    }
                {% endfor %}
                //dataNew = [20000, 14000, 12000, 15000, 18000, 19000, 22000];
                //labels =  ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"];
                renderChart(yLabel, xLabel);
                renderChart2(yLabel2, xLabel2);
                //renderChart(dataNew, labels);
            }
        );

        /* var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        } */
    </script>
{% endblock jscript %}