{% extends "search/base.html" %}

{% load easy_maps_tags %}
{% load static %}
{% load url_replace %}
{% load url_get %}
{% load room_images %}
{% load widget_tweaks %}


{% block title %}Search Hotels{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/bootstrap4/bootstrap.min.css' %}">
    <link href="{% static 'search/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/single_listing_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gijgo/js/gijgo.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'adminpanel/sidebar.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock css %}

{% block content %}
    <!-- Home -->
    {% for room in rooms %}
        {% with forloop.counter as cnt %}
            {% room_images hotel.uid room.roomID as roomImages %}
            <!-- The Modal/Lightbox -->
            <div id="myModal{{ cnt }}" class="modal">
                <span class="close cursor" onclick="closeModal{{ cnt }}()">&times;</span>
                <div class="modal-content">
                    {% with hotel.uid|stringformat:"i" as ID and room.roomID|stringformat:"i" as rID %}
                        {% for image in roomImages %}
                            <div class="mySlidesModal{{ cnt }}">
                                <div class="numbertext">{{ forloop.counter }} / {{ roomImages|length }}</div>
                                <img src="{% static 'media/user_'|add:ID|add:'/room_'|add:rID|add:'/'|add:image %}"
                                     alt="" style="width:100%;height: 350px;">
                            </div>
                        {% endfor %}
                    {% endwith %}

                    <!-- Next/previous controls -->
                    <a class="prev" onclick="plusSlidesModal{{ cnt }}(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlidesModal{{ cnt }}(1)">&#10095;</a>
                </div>
            </div>
        {% endwith %}
    {% endfor %}


    <div class="offers">
        <div class="hero-image"
             style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static 'search/images/single_background.jpg' %})">
            <div class="hero-text">
                <h1 style="margin-top:150px">{{ hotel.Hotel_Name }}</h1>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-3" style="display: flex;min-height: 650px;">
                    <div class="search" style="align-items: stretch">
                        <div class="search_inner">
                            <!-- Search Contents -->

                            <div class="container fill_height no-padding">
                                <div class="row no-margin">
                                    <div class="col  no-padding">
                                        <!-- Search Tabs -->

                                        <div class="search_tabs_container">
                                            <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                                <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                                    <img src="{% static 'search/images/suitcase.png' %}"
                                                         alt=""><span>hotels</span>
                                                </div>
                                                <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                                    <img src="{% static 'search/images/departure.png' %}" alt="">flights
                                                </div>
                                            </div>
                                        </div>


                                        <div class="search_panel active">
                                            <form action="{% url 'searchHotelPage' %} " id="search_form_1" method="get"
                                                  class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                                <div class="search_item">
                                                    <div>destination</div>
                                                    {% render_field hotelForm.hoteldest class="destination search_input" placeholder=hotelForm.hoteldest.label value=request.GET.hoteldest %}
                                                </div>
                                                <div class="search_item">
                                                    <div>check in</div>
                                                    {% render_field hotelForm.checkin class="check_in search_input" placeholder=hotelForm.checkin.label %}
                                                </div>
                                                <div class="search_item">
                                                    <div>check out</div>
                                                    {% render_field hotelForm.checkout class="check_out search_input" placeholder=hotelForm.checkout.label %}
                                                </div>
                                                <div class="search_item">
                                                    <div>room</div>
                                                    {% render_field hotelForm.room class="search_input room" placeholder=hotelForm.room.label %}
                                                </div>
                                                <div class="search_item">
                                                    <div>adults</div>
                                                    {% render_field hotelForm.adult class="search_input" placeholder=hotelForm.adult.label %}
                                                </div>
                                                <button class="button search_button">
                                                    search<span></span><span></span><span></span>
                                                </button>
                                                {% csrf_token %}
                                            </form>
                                        </div>


                                        <!-- Search Panel -->

                                        <div class="search_panel">
                                            <form action="{% url 'searchFlightPage' %}" id="search_form_2"
                                                  class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">

                                                <div class="search_item">
                                                    <div>from</div>
                                                    {% render_field flightForm.source class="from search_input" placeholder=flightForm.source.label %}
                                                </div>
                                                <div class="search_item">
                                                    <div>to</div>
                                                    {% render_field flightForm.dest class="to search_input" placeholder=flightForm.dest.label %}
                                                </div>
                                                <div class="search_item">
                                                    <div>depart</div>
                                                    {% render_field flightForm.depart class="from search_input" placeholder=flightForm.depart.label %}
                                                </div>
                                                <div class="search_item">
                                                    <div>adults</div>
                                                    {% render_field flightForm.adult class="search_input" placeholder=flightForm.adult.label %}
                                                </div>
                                                <div class="search_item">
                                                    <div>children</div>
                                                    {% render_field flightForm.children class="search_input" placeholder=flightForm.children.label %}
                                                </div>
                                                <button class="button search_button">
                                                    search<span></span><span></span><span></span></button>
                                                {% csrf_token %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-9" style="margin-top:25px;margin-left:0px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="">
                                    <!-- Hotel Info -->

                                    <div class="hotel_info">

                                        <!-- Title -->
                                        <div class="hotel_title_container d-flex flex-lg-row flex-column">
                                            <div class="hotel_title_content">
                                                <h1 class="hotel_title">{{ hotel.Hotel_Name }}</h1>
                                                <div class="rating_r rating_r_4 hotel_rating">
                                                    <i></i>
                                                    <i></i>
                                                    <i></i>
                                                    <i></i>
                                                    <i></i>
                                                </div>
                                                <div class="hotel_location">{{ hotel.Address }},{{ hotel.Hotel_Location }},{{ hotel.Hotel_Country }}</div>
                                            </div>
                                            <div class="hotel_title_button ml-lg-auto text-lg-right">
                                                <div class="button book_button trans_200"><a
                                                        href="#">book<span></span><span></span><span></span></a></div>
                                                <div class="hotel_map_link_container">
                                                    <div class="hotel_map_link"><a href="#location_on_map">See Location
                                                        on
                                                        Map</a></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- new -->
                                        <div class="container">
                                            <!-- Full-width images with number text -->
                                            {% for image in imageList %}
                                                <div class="mySlides">
                                                    <div class="numbertext">{{ forloop.counter }}/ {{ imageList|length }}</div>
                                                    {% with hotel.uid|stringformat:"i" as ID %}
                                                        <img src="{% static 'media/user_'|add:ID|add:'/main/'|add:image %}"
                                                             alt="" width="100%" height="500px" style="width: 100%;"
                                                             class="cursor">
                                                    {% endwith %}
                                                </div>
                                                <div class="hotel_review_container d-flex flex-column align-items-center justify-content-center">
                                                    <div class="hotel_review">
                                                        <div class="hotel_review_content">
                                                            <div class="hotel_review_title">very good</div>
                                                            <div class="hotel_review_subtitle">100 reviews</div>
                                                        </div>
                                                        <div class="hotel_review_rating text-center">8.1</div>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                            <!-- Next and previous buttons -->
                                            <a class="prev" style="color: #fff;" onclick="plusSlides(-1)">&#10094;</a>
                                            <a class="next" style="color: #fff;" onclick="plusSlides(1)">&#10095;</a>

                                            <!-- Image text -->
                                            <div class="caption-container">
                                                <p id="caption"></p>
                                            </div>
                                        </div>

                                        <!-- Hotel Info Text -->
                                        <div class="hotel_info_text">
                                            <p>{{ hotel.Description }}</p>
                                        </div>

                                        <!-- Hotel Info Tags -->
                                        <div class="hotel_info_tags">
                                            <ul class="hotel_icons_list">
                                                <li class="hotel_icons_item"><img
                                                        src="{% static 'search/images/post.png' %}" alt=""></li>
                                                <li class="hotel_icons_item"><img
                                                        src="{% static 'search/images/compass.png' %}" alt=""></li>
                                                <li class="hotel_icons_item"><img
                                                        src="{% static 'search/images/bicycle.png' %}" alt=""></li>
                                                <li class="hotel_icons_item"><img
                                                        src="{% static 'search/images/sailboat.png' %}" alt=""></li>
                                            </ul>
                                        </div>


                                        <div class="rooms">

                                            <!-- Room -->
                                            {% for room in rooms %}
                                                {% room_images hotel.uid room.roomID as roomImages %}
                                                {% with forloop.counter as cnt %}
                                                    <!-- The Modal/Lightbox -->

                                                    <div class="room">
                                                        <div class="row no-margin no-padding">
                                                            <div class="col-lg-3 no-padding no-margin">
                                                                <div class="">
                                                                    {% with hotel.uid|stringformat:"i" as ID and room.roomID|stringformat:"i" as rID %}
                                                                        {% for firstImage in roomImages %}
                                                                            {% if forloop.first %}
                                                                                <img src="{% static 'media/user_'|add:ID|add:'/room_'|add:rID|add:'/'|add:firstImage %}"
                                                                                     alt="" width="100%" height="90%"
                                                                                     onclick="openModal{{ cnt }}();currentSlideModal{{ cnt }}(1)"
                                                                                     class="hover-shadow">
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endwith %}
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-7">
                                                                <div class="room_content">
                                                                    <div class="room_title">{{ room.RoomType }} Room
                                                                    </div>
                                                                    <div class="room_price">{{ room.Price }}৳/night</div>
                                                                    <div class="room_text">Available rooms
                                                                        : {{ room.cnt }}</div>
                                                                    <div class="room_text">Single
                                                                        bed: {{ room.SingleBedCount }},
                                                                        Double bed: {{ room.DoubleBedCount }}</div>
                                                                    <div class="room_extra">
                                                                        <ul type="circle">
                                                                            {% if room.Wifi %}
                                                                                <li>Wifi</li>
                                                                            {% endif %}
                                                                            {% if room.Complimentary_Breakfast %}
                                                                                <li>Complimentary Breakfast</li>
                                                                            {% endif %}
                                                                            {% if room.AirConditioner %}
                                                                                <li>Air-conditioned</li>
                                                                            {% endif %}
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2 text-lg-right">
                                                                {% widthratio  room.Price 1 daysCount as totalPrice %}
                                                                <div class="room_text"">
                                                                    Total : {{ totalPrice }}৳
                                                                </div>
                                                                <div class="room_price">
                                                                    {{ daysCount }} night{% if daysCount > 1 %}s{% endif %}
                                                                </div>
                                                                <div class="room_button">
                                                                    <div class="button book_button trans_200">
                                                                        <a href="hotelbooknow?hrid={{ room.hrID }}&{{ request.GET.urlencode }}">book<span></span><span></span><span></span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <hr style="padding-bottom: 20px;">
                                                {% endwith %}
                                            {% endfor %}

                                        </div>

                                        <!-- Reviews -->

                                        <div class="reviews">
                                            <div class="reviews_title">reviews</div>
                                            <div class="reviews_container">

                                                <!-- Review -->
                                                <div class="review">
                                                    <div class="row">
                                                        <div class="col-lg-1">
                                                            <div class="review_image">
                                                                <img src="{% static 'search/images/review_1.jpg' %}"
                                                                     alt="https://unsplash.com/@saaout">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-11">
                                                            <div class="review_content">
                                                                <div class="review_title_container">
                                                                    <div class="review_title">"We loved the services"
                                                                    </div>
                                                                    <div class="review_rating">9.5</div>
                                                                </div>
                                                                <div class="review_text">
                                                                    <p>Tetur adipiscing elit. Nullam eu convallis
                                                                        tortor.
                                                                        Lorem ipsum dolor sit amet, consectetur
                                                                        adipiscing
                                                                        elit. Vivamus quis vulputate eros, iaculis
                                                                        consequat
                                                                        nisl. Nunc et suscipit urna. Integer elementum
                                                                        orci
                                                                        eu vehicula pretium. Donec bibendum tristique
                                                                        condimentum.</p>
                                                                </div>
                                                                <div class="review_name">Christinne Smith</div>
                                                                <div class="review_date">12 November 2017</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Review -->
                                                <div class="review">
                                                    <div class="row">
                                                        <div class="col-lg-1">
                                                            <div class="review_image">
                                                                <img src="{% static 'search/images/review_2.jpg' %}"
                                                                     alt="Image by Andrew Robles">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-11">
                                                            <div class="review_content">
                                                                <div class="review_title_container">
                                                                    <div class="review_title">"Nice staff and great
                                                                        location"
                                                                    </div>
                                                                    <div class="review_rating">9.5</div>
                                                                </div>
                                                                <div class="review_text">
                                                                    <p>Tetur adipiscing elit. Nullam eu convallis
                                                                        tortor.
                                                                        Lorem ipsum dolor sit amet, consectetur
                                                                        adipiscing
                                                                        elit. Vivamus quis vulputate eros, iaculis
                                                                        consequat
                                                                        nisl. Nunc et suscipit urna. Integer elementum
                                                                        orci
                                                                        eu vehicula pretium. Donec bibendum tristique
                                                                        condimentum.</p>
                                                                </div>
                                                                <div class="review_name">Christinne Smith</div>
                                                                <div class="review_date">12 November 2017</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="location_on_map" id="location_on_map">
                                                    <div class="location_on_map_title" style="margin-bottom: 5px">
                                                        location
                                                        on map
                                                    </div>
                                                    <!-- Google Map -->
                                                    {% with hotel.Hotel_Name|add:' '|add:hotel.Hotel_Location as location %}
                                                        {% with 1100 as w and 480 as h and "easy_maps/map.html" as t %}
                                                            {% easy_map location w h using t %}
                                                        {% endwith %}
                                                    {% endwith %}
                                                </div>

                                                <div style="padding: 20;"/>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}


{% block jscript %}
    <script>

        function getAllUrlParams(url) {
            // get query string from url (optional) or window
            var queryString = url ? url.split('?')[1] : window.location.search.slice(1);
            // we'll store the parameters here
            var obj = {};
            // if query string exists
            if (queryString) {
                // stuff after # is not part of query string, so get rid of it
                queryString = queryString.split('#')[0];
                // split our query string into its component parts
                var arr = queryString.split('&');
                for (var i = 0; i < arr.length; i++) {
                    // separate the keys and the values
                    var a = arr[i].split('=');
                    // set parameter name and value (use 'true' if empty)
                    var paramName = a[0];
                    var paramValue = typeof (a[1]) === 'undefined' ? true : a[1];
                    // (optional) keep case consistent
                    paramName = paramName.toLowerCase();
                    if (typeof paramValue === 'string') paramValue = paramValue.toLowerCase();
                    // if the paramName ends with square brackets, e.g. colors[] or colors[2]
                    if (paramName.match(/\[(\d+)?\]$/)) {
                        // create key if it doesn't exist
                        var key = paramName.replace(/\[(\d+)?\]/, '');
                        if (!obj[key]) obj[key] = [];
                        // if it's an indexed array e.g. colors[2]
                        if (paramName.match(/\[\d+\]$/)) {
                            // get the index value and add the entry at the appropriate position
                            var index = /\[(\d+)\]/.exec(paramName)[1];
                            obj[key][index] = paramValue;
                        } else {
                            // otherwise add the value to the end of the array
                            obj[key].push(paramValue);
                        }
                    } else {
                        // we're dealing with a string
                        if (!obj[paramName]) {
                            // if it doesn't exist, create property
                            obj[paramName] = paramValue;
                        } else if (obj[paramName] && typeof obj[paramName] === 'string') {
                            // if property does exist and it's a string, convert it to an array
                            obj[paramName] = [obj[paramName]];
                            obj[paramName].push(paramValue);
                        } else {
                            // otherwise add the property
                            obj[paramName].push(paramValue);
                        }
                    }
                }
            }

            return obj;
        }
        let jsTomorrow = new Date();
        jsTomorrow.setDate(new Date().getDate()+1);
        let today = new Date().getFullYear() + "-" + ("0" + (new Date().getMonth() + 1)).slice(-2) + "-" +
            ("0" + new Date().getDate()).slice(-2);
        let tomorrow = jsTomorrow.getFullYear() + "-" + ("0" + (jsTomorrow.getMonth() + 1)).slice(-2) + "-" +
            ("0" + jsTomorrow.getDate()).slice(-2);
        $('#id_checkin').datepicker({
            uiLibrary: 'bootstrap4',
            value: getAllUrlParams().checkin,
            minDate: today,
            format: 'yyyy-mm-dd',
            size: 'small'
        });
        $('#id_checkout').datepicker({
            uiLibrary: 'bootstrap4',
            value: getAllUrlParams().checkout,
            minDate: tomorrow,
            format: 'yyyy-mm-dd',
            size: 'small'
        });
        $('#id_depart').datepicker({
            uiLibrary: 'bootstrap4',
            value: getAllUrlParams().depart,
            minDate: today,
            format: 'yyyy-mm-dd',
            size: 'small'
        });

    </script>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>

    <script type="text/javascript">
        {% for room in rooms %}
            {% with forloop.counter as cnt %}
                // Open the Modal
                function openModal{{ cnt }}() {
                    document.getElementById("myModal{{ cnt }}").style.display = "block";
                }

                // Close the Modal
                function closeModal{{ cnt }}() {
                    document.getElementById("myModal{{ cnt }}").style.display = "none";
                }
                var slideIndexModal{{ cnt }} = 1;
                showSlidesModal{{ cnt }}(slideIndexModal{{ cnt }});
                // Next/previous controls
                function plusSlidesModal{{ cnt }}(n) {
                    showSlidesModal{{ cnt }}(slideIndexModal{{ cnt }} += n);
                }
                // Thumbnail image controls
                function currentSlideModal{{ cnt }}(n) {
                    showSlidesModal{{ cnt }}(slideIndexModal{{ cnt }} = n);
                }
                function showSlidesModal{{ cnt }}(n) {
                    var i;
                    var slides = document.getElementsByClassName("mySlidesModal{{ cnt }}");
                    var dots = document.getElementsByClassName("demo");
                    var captionText = document.getElementById("caption");
                    if (n > slides.length) {
                        slideIndexModal{{ cnt }} = 1
                    }
                    if (n < 1) {
                        slideIndexModal{{ cnt }} = slides.length
                    }
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndexModal{{ cnt }} - 1].style.display = "block";
                    dots[slideIndexModal{{ cnt }} - 1].className += " active";
                    captionText.innerHTML = dots[slideIndexModal{{ cnt }} - 1].alt;
                }
            {% endwith %}
        {% endfor %}
    </script>
{% endblock jscript %}