{% extends "search/base.html" %}

{% load static %}
{% load url_replace %}
{% load url_get %}
{% load widget_tweaks %}


{% block title %}Add Room | {{ request.user }}{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/bootstrap4/bootstrap.min.css' %}">
    <link href="{% static 'search/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/single_listing_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gijgo/js/gijgo.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'adminpanel/sidebar.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% endblock css %}

{% block content %}

    <div class="offers">

        <div class="hero-image"
             style="height:24.5%;background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static 'search/images/single_background.jpg' %})">
        </div>

        <!-- Sidebar -->
        <div class="">
            <div class="row">
                <div class="col-lg-2" style="display: flex">
                    <nav id="sidebar">
                        <div class="sidebar-header">
                            <h3>Options</h3>
                        </div>
                        <ul class="list-unstyled components">
                            <li class="">
                                <a href="{% url 'airlinesAdminDash' %}">Dashboard</a>
                            </li>

                             <li class="active">
                                <a href="{% url 'airlinesAdminAddRoute' %}">Add Route</a>
                            </li>
                            <li>
                                <a href="{% url 'airlinesAdminAddFlight' %}">Add Flight</a>
                            </li>
                            <li>
                                <a href="{% url 'airlinesAdminAddFlightRoute' %}">Add Flight to a route</a>
                            </li>
                            <li>
                                <a href="{% url 'airlinesAdminViewFlights' %}">View Flights</a>
                            </li>

                            <li class="">
                                <a href="{% url 'airlinesAdminBookings' %}">View Bookings</a>
                            </li>
                            <li>
                                <a href="{% url 'airlinesAdminCalendar' %}">Calendar</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-8">
                    <div class="contact_form_container text-center">
                        <div class="contact_title text-center">
                            Add New Route
                        </div>
                        <div class="contact_title text-center">

                                    {% for message in messages %}
                                        <div {% if message.extra_tags %} class="alert {{ message.extra_tags }}"{% endif %}>
                                            <a class="close" href="" {% if message.extra_tags %} data-dismiss="{{ message.extra_tags }}"{% endif %}>×</a>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </div>
                        <form method="POST" id="contact_form" class="contact_form" enctype="multipart/form-data">


                            <div class="row" style="margin-top: 25px;">
                                <div class="col-lg-12">
                                    <div class="contact_item">
                                        <div align="left">Source :</div>
                                        {% render_field addrouteform.Source class="contact_form_email input_field" %}
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 25px;">
                                <div class="col-lg-12">
                                    <div class="contact_item">
                                        <div align="left">Destination :</div>
                                        {% render_field addrouteform.Destination class="contact_form_email input_field" %}
                                    </div>
                                </div>
                            </div>

                            <button type="submit" id="form_submit_button"
                                    class="form_submit_button button trans_200">Add Route
                            </button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

