{% extends "search/base.html" %}

{% load static %}
{% load url_replace %}
{% load url_get %}
{% load widget_tweaks %}


{% block title %}Notifications | {{ request.user }}{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/bootstrap4/bootstrap.min.css' %}">
    <link href="{% static 'search/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gijgo/js/gijgo.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'adminpanel/sidebar.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'adminpanel/noti/notifications.css' %}">

{% endblock css %}

{% block content %}

    <div class="offers">

        <div class="hero-image"
             style="height:24.5%;background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static 'search/images/single_background.jpg' %})">
        </div>

        <!-- Sidebar -->
        <div class="">
            <div class="row">
                <div class="col-lg-2" style="display: flex">
                    <nav id="sidebar">
                        <div class="sidebar-header">
                            <h3>Options</h3>
                        </div>

                        <ul class="list-unstyled components">
                            <p>Dashboard</p>
                            <li class="">
                                <a href="{% url 'airlinesAdminDash' %}">Dashboard</a>
                            </li>
                            <li class="notification active">
                                <a href="{% url 'airlinesAdminNotifications' %}">
                                    Notifications
                                    {% if countN > 0 %}
                                        <span class="badge">{{ countN }}</span>
                                    {% endif %}
                                </a>
                            </li>

                             <li>
                                <a href="{% url 'airlinesAdminAddRoute' %}">Add Route</a>
                            </li>
                            <li>
                                <a href="{% url 'airlinesAdminAddFlight' %}">Add Flight</a>
                            </li>
                            <li>
                                <a href="{% url 'airlinesAdminAddFlightRoute' %}">Add Flight to a route</a>
                            </li>
                            <li>
                                <a href="{% url 'airlinesAdminViewFlights' %}">View Flights</a>
                            </li>

                            <li class="">
                                <a href="{% url 'airlinesAdminBookings' %}">View Bookings</a>
                            </li>
                            <li class="">
                                <a href="{% url 'airlinesAdminBookingsToday' %}">View Today's Bookings</a>
                            </li>

                            <li>
                                <a href="{% url 'airlinesAdminCalendar' %}">Calendar</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-9" style="padding: 20px;">
                <h2>Notifications :</h2>
                <ul type="disc" class="list-unstyled components">
                    {% for datum in data %}
                        <li class="{% if datum.notified == False %}alert-danger{% else %}alert-info{% endif %}"
                             style="font-size:25px;padding: 15px;margin-bottom: 10px;">
                            {{ datum.first_name }} {{ datum.last_name }} cancelled his booking of
                            {{ datum.TotalSeats }} seat(s) on Flight number: {{ datum.Plane }} <br>[Date : {{ datum.DOF }}, Time
                            : {{ datum.Time }} from {{ datum.SRC }} to {{ datum.DEST }}]

                        </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
