{% extends "search/base.html" %}

{% load static %}
{% load url_replace %}
{% load url_get %}
{% load widget_tweaks %}


{% block title %}Dashboard | {{ request.user }}{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/bootstrap4/bootstrap.min.css' %}">
    <link href="{% static 'search/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gijgo/js/gijgo.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'adminpanel/sidebar.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'adminpanel/noti/notifications.css' %}">
    <style>
        .notification {
            position: relative;
            display: inline-block;
            border-radius: 2px;
        }

        .notification .badge {
            position: absolute;
            top: -1px;
            right: -15px;
            padding: 5px 10px;
            border-radius: 50%;
            background-color: red;
            color: white;
        }
    </style>

{% endblock css %}

{% block content %}

    <div class="offers">

        <div class="hero-image"
             style="height:24.5%;background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static 'search/images/single_background.jpg' %})">
        </div>

        <!-- Sidebar -->
        <div class="">
            <div class="row">
                <div class="col-lg-2" style="display: flex">
                    <nav id="sidebar">
                        <div class="sidebar-header">
                            <h3>Options</h3>
                        </div>

                        <ul class="list-unstyled components">
                            <p>Dashboard</p>
                            <li class="active">
                                <a href="{% url 'hotelAdminDash' %}">Dashboard</a>
                            </li>
                            <li class="notification">
                                <a href="{% url 'hotelAdminNotifications' %}">
                                    Notifications
                                    {% if count > 0 %}
                                        <span class="badge">{{ count }}</span>
                                    {% endif %}
                                </a>
                            </li>
                            <li class="">
                                <a href="{% url 'hotelAdminUpdate' %}">Update Hotel</a>
                            </li>
                            <li>
                                <a href="{% url 'hotelAdminRooms' %}">View Rooms</a>
                            </li>
                            <li>
                                <a href="{% url 'hotelAdminAddRoom' %}">Add Rooms</a>
                            </li>
                            <li>
                                <a href="{% url 'hotelAdminBookingsToday' %}">Today's Bookings</a>
                            </li>
                            <li>
                                <a href="{% url 'hotelAdminBookings' %}">View Bookings</a>
                            </li>
                            <li>
                                <a href="{% url 'hotelAdminCalender' %}">Calender</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-9">
                    <div class="row" style="margin-top: 25px;">
                        <div class="col-lg-8">
                            <canvas id="chartPrice" height="200px;"></canvas>
                            <div align="center">
                                <b>Total Income: </b> {{ total }} BDT
                            </div>
                        </div>
                        <div class="col-lg-4" style="margin-top: 50px;">
                            <canvas id="chartPie" height="300px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block jscript %}
    <script src="{% static 'adminpanel/noti/notifications.js' %}"></script>
    <script src="{% static 'adminpanel/chart.js' %}"></script>
    <script>
        const noti = window.createNotification({
            closeOnClick: true,
            displayCloseButton: true,
            positionClass: 'nfc-bottom-right',
            onclick: false,
            showDuration: 90000,
            theme: 'warning'
        });
        {% for datum in data %}
            noti({
                title: 'Booking cancelled by {{ datum.first_name }} {{ datum.last_name }}',
                message: '{{ datum.first_name }} {{ datum.last_name }} cancelled his booking on {{ datum.TotalRooms }} {{ datum.RoomType }} room(s)'
            });
        {% endfor %}
        // for chart
        let xLabel = [];
        let yLabel = [];
        let color = [];
        let myLabel = [];
        let randR, randG, randB, temp;
        {% for datum in dataPrice %}
            xLabel.push('{{ datum.Checkin_Date }}');
            yLabel.push({{ datum.Price }});
            randR = Math.floor((Math.random() * 130) + 70);
            randG = Math.floor((Math.random() * 130) + 70);
            randB = Math.floor((Math.random() * 130) + 70);
            temp = "rgb(" + randR + ", " + randG + ", " + randB + ")";
            color.push(temp);
            myLabel.push('{{ datum.Checkin_Date }} ({{ datum.cnt }})');
        {% endfor %}
        console.log(myLabel);
        let chartPrice = document.getElementById('chartPrice').getContext('2d');
        let chartPriceO = new Chart(chartPrice, {
            type: 'bar',
            data: {
                labels: myLabel,
                datasets: [{
                    label: myLabel,
                    backgroundColor: color,
                    borderColor: color,
                    data: yLabel
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'Revenue from Hotel Booking per Check-in Day'
                },
                legend: {
                    display: false
                }
            }
        });
        let yLabel2 = [];
        let xLabel2 = [];
        color = [];
        {% for datum in dataRooms %}
            xLabel2.push('{{ datum.RoomType }}');
            yLabel2.push({{ datum.Total }});
            randR = Math.floor((Math.random() * 130) + 70);
            randG = Math.floor((Math.random() * 130) + 70);
            randB = Math.floor((Math.random() * 130) + 70);
            temp = "rgb(" + randR + ", " + randG + ", " + randB + ")";
            color.push(temp);
        {% endfor %}
        data = {
            datasets: [{
                data: yLabel2,
                backgroundColor: color
            }],
            labels: xLabel2
        };
        let chartPie = document.getElementById('chartPie').getContext('2d');
        let chartPieO = new Chart(chartPie, {
            type: 'pie',
            data: data,
            options: {
                title: {
                    display: true,
                    text: 'Revenue per room type'
                }
            }
        });
    </script>
{% endblock jscript %}