{% extends "search/base.html" %}

{% load static %}
{% load url_replace %}
{% load url_get %}
{% load widget_tweaks %}
{% load room_images %}


{% block title %}Rooms | {{ request.user }}{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/bootstrap4/bootstrap.min.css' %}">
    <link href="{% static 'search/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/single_listing_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'search/styles/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gijgo/js/gijgo.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'adminpanel/sidebar.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        #roomstable {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #roomstable td, #roomstable th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #roomstable tr:nth-child(even) {
            background: linear-gradient(to top right, #fcd49c, #bd99ff);
        }

        #roomstable tr:hover {
            background: #50a6fb;
        }

        #roomstable th {
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #350a4e;
            color: white;
            cursor: pointer;
        }

        #roomInput {
            background-image: url({% static 'siteadmin/search.png' %});
            background-position: 5px 5px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 50px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }
    </style>

{% endblock css %}

{% block content %}

    <div class="offers">
        <div class="hero-image"
             style="height:24.5%;background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static 'search/images/single_background.jpg' %})">
        </div>
        <!-- Sidebar -->
        <div class="">
            <div class="row">
                <div class="col-lg-2" style="display: flex">
                    <nav id="sidebar">
                        <div class="sidebar-header">
                            <h3>Options</h3>
                        </div>
                        <ul class="list-unstyled components">
                            <p>View Rooms</p>
                            <li>
                                <a href="{% url 'hotelAdminDash' %}">Dashboard</a>
                            </li>
                            <li class="notification">
                                <a href="{% url 'hotelAdminNotifications' %}">
                                    Notifications
                                    {% if count > 0 %}
                                        <span class="badge">{{ count }}</span>
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'hotelAdminUpdate' %}">Update Hotel</a>
                            </li>
                            <li class="active">
                                <a href="{% url 'hotelAdminRooms' %}">View Rooms</a>
                            </li>
                            <li>
                                <a href="{% url 'hotelAdminAddRoom' %}">Add Rooms</a>
                            </li>
                            <li>
                                <a href="{% url 'hotelAdminBookingsToday' %}">Today's Bookings</a>
                            </li>
                            <li>
                                <a href="{% url 'hotelAdminBookings' %}">View Bookings</a>
                            </li>
                            <li>
                                <a href="{% url 'hotelAdminCalender' %}">Calender</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-10" style="padding-right: 30px;margin-top: 20;">
                    <input type="text" id="roomInput" onkeyup="searchTable()"
                           placeholder="Search for name,type,wifi etc.."
                           title="Type in a name,type,wifi etc.....">
                    <div class="rooms" style="margin-top: 20px;">
                        <!-- Room -->
                        <table id="roomstable" width="100%" style="margin-bottom: 30">
                            <tr align="center">
                                <th width="20%">
                                    Thumbnail
                                </th>
                                <th width="20%" onclick="sortTable(1,false)">
                                    Room Details
                                </th>
                                <th onclick="sortTable(2,false)">
                                    Wifi
                                </th>
                                <th onclick="sortTable(3,false)">
                                    Breakfast
                                </th>
                                <th onclick="sortTable(4,true)">
                                    Total Rooms
                                </th>
                                <th onclick="sortTable(5,true)">
                                    Free Rooms
                                </th>
                                <th onclick="sortTable(6,true)">
                                    Price/Room
                                </th>
                                <th>
                                    Modify
                                </th>
                            </tr>
                            {% for room in rooms %}
                                <tr align="center">
                                    <td>
                                        {% room_images request.user.id room.Room.id as roomImages %}
                                        {% with request.user.id|stringformat:"i" as ID and room.Room.id|stringformat:"i" as rID %}
                                            {% for firstImage in roomImages %}
                                                {% if forloop.first %}
                                                    <img src="{% static 'media/user_'|add:ID|add:'/room_'|add:rID|add:'/'|add:firstImage %}"
                                                         alt="" width="200px" height="200px" style="padding: 15px;">
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                    </td>
                                    <td>
                                        ID : {{ room.Room.id }}
                                        <br>
                                        Type : {{ room.Room.RoomType }}
                                        <br>
                                        Single Bed : {{ room.Room.SingleBedCount }},
                                        Double Bed : {{ room.Room.DoubleBedCount }}
                                        <br>
                                        AirConditioner :    {% if room.Room.AirConditioner %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                    </td>
                                    <td>
                                        {% if room.Wifi %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if room.Complimentary_Breakfast %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ room.TotalRoomCount }}
                                    </td>
                                    <td>
                                        {{ room.FreeRoomCount }}
                                    </td>
                                    <td>
                                        {{ room.Price }}
                                    </td>
                                    <td>
                                        <a href="{% url 'hotelAdminRoomSingle' %}?roomID={{ room.Room.id }}">
                                            <button class="button search_button" style="margin: 0;margin-bottom: 25;">
                                                Update
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block jscript %}
    <script>
        function sortTable(col, isNumber) {
            let table = document.getElementById("roomstable");
            let switching = true, shouldSwitch;
            let asc = true, switchCount = 0, rows, i;
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    let x = rows[i].getElementsByTagName("TD")[col];
                    let y = rows[i + 1].getElementsByTagName("TD")[col];
                    if (asc) {
                        if (isNumber) {
                            console.log(Number(x.innerHTML));
                            console.log(Number(y.innerHTML));
                            if (Number(x.innerHTML) > Number(y.innerHTML)) {
                                console.log(x.innerHTML);
                                console.log(y.innerHTML);
                                console.log(true);
                                console.log('\n\n');
                                shouldSwitch = true;
                                break;
                            }
                        } else {
                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                    } else {
                        if (isNumber) {
                            if (Number(x.innerHTML) < Number(y.innerHTML)) {
                                shouldSwitch = true;
                                break;
                            }
                        } else {
                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchCount++;
                } else {
                    if (switchCount === 0 && asc) {
                        asc = false;
                        switching = true;
                    }
                }
            }
        }

        function searchTable() {
            let colsToSearch = [1, 2, 3, 4, 5, 6];
            let input = document.getElementById('roomInput');
            let filter = input.value.toUpperCase();
            let table = document.getElementById('roomstable');
            let row = table.getElementsByTagName('tr');
            for (let i = 0; i < row.length; i++) {
                let data = [];
                for (let j = 0; j < colsToSearch.length; j++) {
                    data.push(row[i].getElementsByTagName("td")[colsToSearch[j]]);
                }
                let isData = true;
                for (let j = 0; j < data.length; j++) {
                    if (data[j] == null) {
                        isData = false;
                    }
                }
                if (isData) {
                    let val = [];
                    for (let j = 0; j < data.length; j++) {
                        val.push(data[j].textContent || data[j].innerText);
                    }
                    let displayFlag = false;
                    for (let j = 0; j < val.length; j++) {
                        if (val[j].toUpperCase().indexOf(filter) > -1) {
                            displayFlag = true;
                        }
                    }
                    if (displayFlag) {
                        row[i].style.display = "";
                    } else {
                        row[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock jscript %}